/* general styles */

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 90%;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
}

.info {
    line-height: 2;
}


/* end general styles */


/* header */

.menus .bars {
    display: none;
}

header .container .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .wrapper nav {
    text-transform: uppercase;
    font-size: 1.3rem;
}

header .container .wrapper nav a {
    transition: all 150ms ease-in-out;
    color: black;
    margin: 15px;
}

header .container .wrapper nav a:nth-child(1) {
    border-bottom: 3px solid skyblue;
    color: skyblue;
}

header .container .wrapper nav a:hover {
    color: skyblue;
    border-bottom: 3px solid skyblue;
}

header .container .wrapper .menus {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

header .container .wrapper .menus div {
    margin: 10px;
    cursor: pointer;
}

header .logo img {
    width: 100px;
    height: 100px;
}


/* end header */


/* footer */

.footer {
    padding: 3rem;
    background-color: rgb(48, 46, 46);
    color: white
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quick-links a {
    display: block;
    margin: 15px;
    color: white;
}


/* end footer  */


/* newsletter */

.newsletter {
    text-align: center;
    margin-top: 30px;
}


/* end newsletter  */