/* main-content */

.main-content .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img .box {
    width: 500px;
    height: 600px;
    background-size: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0511/7834/0520/products/kawhi_720x_4cfb41f5-6ed4-45ff-ba35-a443cba44a0f_1024x1024@2x.jpg?v=1610351811);
}

.checkout {
    padding: 2rem;
}

select {
    width: 250px;
    padding: .8rem;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

label {
    display: flex;
    margin-bottom: .5rem;
}

form {
    margin: 0 auto;
    width: 500px;
}

.btn {
    display: block;
    width: 102.5%;
    padding: .8rem;
    text-transform: uppercase;
    margin: 15px 0px;
    outline: none;
    letter-spacing: .2rem;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    font-weight: 900;
}

.btn1 {
    background: none;
    color: skyblue;
}

.btn2 {
    color: white;
    background: skyblue;
    box-shadow: 10px 10px 5px grey;
}

.btn2:hover {
    color: skyblue;
    background: white;
    box-shadow: none;
}


/* end main-content */


/* media queries */

@media(max-width:1120px) {
    .img .box {
        width: 400px;
        height: 500px;
    }
    .checkout {
        padding: 10px;
    }
}

@media(max-width:1000px) {
    img .box {
        width: 200px;
        height: 300px;
    }
}


/* end media queries */